@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-08-24 17:53:19
 * @version $Id$
 */


/*全局样式*/
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
}
ul, li, ol, li, dl, dt, dd {
    list-style: none;
}
img, a, a:focus {
    outline: none;
    text-decoration: none;
    display: inline-block;
}


/*头部样式*/
$plr: 20px;
$ptb: 10px;
.header {
	position: fixed;
	top: 0px;
	z-index: 5;
	width: 100%;
	height: 70px;
	padding: $ptb $plr;
}
.header:after {
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
#menu {
	width: 30px;
	height: 30px;
	background: #7CC5F9;
	position: absolute;
	right: 90px;
	top: 20px;
	cursor: pointer;
}
nav {
	float: right;
	width: 300px;
	background: #fff;
	margin-top: -$ptb;
	padding: $ptb * 10 0;
	overflow: hidden;
	position: relative;
	right: 320px;
	li {
		padding: $plr $ptb * 5;
		border-bottom: 1px solid #eaeaea;
		-webkit-transition: all 1s ease;
		transition: all 1s ease;
		a{
			color: #666;
			font-size: 14px;
			padding-left: $ptb * 2;
		}
	}
}

/*内容部分*/
$height: 930px;
.content {	
	.banner {
		/*轮播*/
		width: 100%;
		overflow: hidden;
		#banner {
			overflow: hidden;
			height: $height;
			width: 100%;
			li {
				position: absolute;
				max-height: $height;
				width: 100%;
  				-webkit-transition: all 1s ease;
  				transition: all 1s ease;
				img {
					width: 100%;
				}
			}
		}
	}
}
.list-enter-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(0);
          transform: translateX(0)
}

.list-leave-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%)
}

.list-enter {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%)
}

.list-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(0);
          transform: translateX(0)
}