@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-08-24 17:53:19
 * @version $Id$
 */
/*全局样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "Arial", "微软雅黑" !important; }

.container {
  width: 1200px;
  margin: 0 auto; }

ul, li, ol, li, dl, dt, dd {
  list-style: none; }

img, a, a:focus {
  outline: none;
  text-decoration: none;
  display: inline-block; }

/*头部样式*/
.header {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  height: 70px;
  padding: 10px 20px; }

.header:after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden; }

#menu {
  width: 30px;
  height: 30px;
  background: #7CC5F9;
  position: absolute;
  right: 60px;
  top: 20px;
  cursor: pointer;
  z-index: 50; }

nav.show {
  right: 0px; }

nav {
  float: right;
  width: 300px;
  background: #fff;
  margin-top: -10px;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
  right: -320px;
  -webkit-box-shadow: -5px 0px 10px -5px #999;
  box-shadow: -5px 0px 10px -5px #999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  nav li {
    padding: 20px 50px;
    border-bottom: 1px solid #eaeaea;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    nav li a {
      color: #666;
      font-size: 14px;
      padding-left: 20px; }

/*内容部分*/
.content .banner {
  /*轮播*/
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("../img/boli.jpg") center no-repeat; }
  .content .banner #banner {
    overflow: hidden;
    height: 810px;
    width: 100%; }
    .content .banner #banner li {
      position: absolute;
      max-height: 810px;
      width: 100%;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .content .banner #banner li img {
        width: 100%; }
  .content .banner ol {
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 4;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    text-align: center; }
    .content .banner ol li {
      font-size: 16px;
      display: inline-block;
      line-height: 40px;
      width: 10px;
      height: 20px;
      background: #fff;
      margin: 0 10px;
      position: relative;
      top: 20px;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .content .banner ol li.on {
      width: 8px;
      height: 40px; }
  .content .banner span {
    display: inline-block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .content .banner #prev {
    left: 20px; }
  .content .banner #next {
    right: 20px; }
.content .about {
  padding-top: 100px;
  background: url("../img/logo.png") center no-repeat; }
  .content .about h1 {
    font-size: 20px;
    color: #444;
    font-weight: normal;
    padding-bottom: 60px; }
    .content .about h1 span {
      display: block;
      font-size: 12px;
      color: #a5a5a5; }
  .content .about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    width: 100%; }
    .content .about ul li {
      width: calc(100%/4);
      margin: 20px 50px; }
      .content .about ul li a.img {
        margin-bottom: 30px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .content .about ul li img {
        width: 100%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .content .about ul li p a {
        font-size: 15px;
        color: #555; }
        .content .about ul li p a span {
          display: block;
          font-size: 12px;
          color: #929292; }
    .content .about ul li:hover a.img {
      margin-bottom: 10px; }
      .content .about ul li:hover a.img img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

.list-enter-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.list-leave-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.list-enter {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.list-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

/*# sourceMappingURL=main.css.map */
